.p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #333;
}

.h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;

}

.contenedor {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #333;
}

.miInput {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    padding: 4px;

    
}

.miBoton, .miBotonLimpiar {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #537eac;
    color: white;
    border: none;
    border-radius: 4px;
}

.miBotonLimpiar {
    background-color: #d60f23;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}