html, body {
        height: 100%;
        margin: 0;
}

body {
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 10px;
        background-color:  #f0f0f4f4;
}


.formulario {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width:max-content;
        background: white;
        padding: 20px;
        border-radius: 8px;
}

.formulario input {
        padding: 8px;
        border: 1px solid yellow;
        border-radius: 4px;
        display:flex;
        width: 70%;   
}

.formulario button {
        padding: 10px;
        background-color: blue;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 4px;;
        cursor: pointer;
}

.formulario button {
        background-color: rgb(24, 37, 155);
        border-radius: 15px;
        border: 2px solid white;
        
}

.formulario label { 
        display: flex;
        
}
.formulario span {
        display:flex;
        width: 30%;

}




